.site-layout {
    width: 100%;
}

.title-header {
    font-family: 'Josefin Sans', sans-serif;
    /* font-size: 1.8rem !important; */
    letter-spacing: .3rem !important;
    font-weight: 200 !important;
}

.site-layout .site-layout-content {
    background: #fff;
    /* height: 500px; */
    /* overflow-y: auto; */
    flex: none;
    padding: 24px;
    text-align: center;
}    

.site-layout .site-layout-footer {
    background-image: url(../../../images/carta.jpeg);
    background-position: center;
    /* background: #fff; */
    padding: 24px;
    text-align: center;
}    

.site-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.divider-layout {
    /* display: block; */
    /* margin-top: auto;
    margin-bottom: auto; */
    /* width: 50%; */

    height: 100%;
    /* padding-top: 20em; */
}